h4.Navb-tittle {
    color: white;
}

/* .floatt {
    z-index: 1045;
    position: fixed;
    top: 0;
    width:100%;
} */

.dropdown-toggle::after {
    display:none !important;
}

#input-group-dropdown-1 {
    border-radius: 50px;
}

.dropdown-menu {
    background-color: #212529 !important;
    width: auto;
}

#input-group-dropdown-responsive {
    display: none;
}

@media (max-width: 992px) {

    #input-group-dropdown-1 {
      display: none;
    }

    #input-group-dropdown-responsive {
      display: block;
    }
  }