.offcanvas{
    max-width: 250px !important;
}

.decoration-line {
    list-style: none;
}

.list-group-item.active {
    background-color: transparent !important;
    border: transparent;
    border-radius: 10px;
}

.list-focus:focus {
    cursor: pointer;
    background-color: gray !important;
    border-radius: 10px;
}

.list-focus:hover {
    background-color: gray !important;
    border-radius: 10px;
    color: black;
}