* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto'!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #15212f !important;
  color: white !important;
  overflow-x: hidden !important;
}

.flag {
  width: 45px;
}

code {
  font-family: 'Roboto'!important;
}

.wrapper-player {
  height: 427.7px !important;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #212529; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c757d; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0275d8; 
}

  #swal2-html-container {
    overflow: hidden;
  }

  video {
    border-radius: 0.25rem;
  }

  .modal-open .modal {
    transition: all 0.5s linear;
  }

  #modal-header-video {
    border: none;
  }

  .shadowImage {
    box-shadow: 2px 8px 4px 2px rgba(0,0,0,0.39);
  }

  .borderCards {
    background-color: #212529;
    border-radius: 40px;
    padding: 0.5rem !important;
    cursor: pointer;
    transition: box-shadow .5s;
  }

  .textCard {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    text-align: center;
  }

  .borderCards:hover {
    box-shadow: 2px 8px 4px 2px rgba(0,0,0,0.3);
  }

  .cardRound {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }

  .selectQualityClick {
    background-color: rgb(156, 153, 153);
  }

  .selectQuality:hover {
    background-color: rgb(156, 153, 153);
  }

  #select-rol {
    border: none;
    border-bottom: 1px solid;
    outline: none !important;
  }

  .cardMouse:hover {
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;;
  }
  
  select .dropdown-toggle:focus { outline: none !important; }
  
  option {
    color: black;
  }

  .tox .tox-statusbar {
    display: none !important;
  }

  #dateMobile {
    display: none;
  }

  #dateDeskLap {
    display: block;
  }

  @media (max-width: 768px) {

    #tituloNav {
      display: none;
    }

    #dateMobile {
      display: block;
    }

    #dateDeskLap {
      display: none;
    }
  }