/* .Register-container{
    margin-bottom: 10%;
} */
.Register-Formulario-1{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    /* background-image: url('../../../heroes//Wayding.png');
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: bottom; */
    height: 100vh;
}
.Register-Formulario-1 h3{
    text-align: center;
    color: #333;
}
.Register-Formulario-2{
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    background: radial-gradient(green, black);
    height: 100vh;
}

.Register-Formulario-2 h3{
    text-align: center;
    color: #fff;
}
.Register-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 100% !important;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.Register-Formulario-1 .btnSubmit{
    color: #fff;
    background-color: #0062cc;
}
.Register-Formulario-2 .btnSubmit{
    background-color: #fff;
    color: green;
}