.activeBook {
    background-color: gray !important;
    border-radius: 10px;
}

li:hover {
    background-color: gray !important;
    border-radius: 10px;
}

.hoverSearch:hover {
    background-color: gray !important;
}

button:active{
    color:grey;
}

button:focus{
    color:grey;
}

#title-only-movil {
    display: none;
}

.navbar-nav { white-space: nowrap; }

.fab {
    bottom: 25px;
    font-size: 50px;
    padding: 25px;
    position: fixed;
    right: 30px;
    cursor: pointer;
    padding: 0%;
    margin: 0%;
    z-index: 1045;
}

@media (max-width: 768px) {
    #titulo-verisuculodeldia {
        display: none;
    }

    #title-only-movil {
        display: block;
    }
}
